/* ==========================
   GENERAL
========================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image:  url("abstract_techno_background_with_flowing_particles_1609.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF
}

/* ==========================
   NAVIGATION
========================== */

nav {
    background: #111111; 
    border-bottom: 3px solid #FF1C1C;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.nav-brand {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;   
}

nav h1 {
    color: #FF1C1C;
    letter-spacing: 2px;
    font-size: clamp(20px, 4vw, 32px);
    text-align: left;
}

nav a {
    width: clamp(30px, 4vw, 40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-link img {
    width: clamp(30px, 5vw, 45px);
    height: auto;
}

.nav-icons img {
    width: clamp(25px, 4vw, 35px);
    height: auto;
    transition: .3s;
}

.nav-icons img:hover,
.logo-link img:hover {
    transform: scale(1.15);
}

/*menu drop down*/
.menu-container {
    position: relative;
}

.menu-icon {
    width: 25px;
    height: auto;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;

    background: #111111;
    border: 2px solid #FF1C1C;
    border-radius: 10px;
    min-width: 180px;

    overflow: hidden;
}

.dropdown-menu a {
    display: block;
    width: 100%;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background: #FF1C1C;
}
.show {
    display: block;
}
/* ==========================
   END OF NAVIGATION
========================== */


/* ==========================
   MAIN HEADER
========================== */

#Main_Header{
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(
        rgba(0,0,0,.75),
        rgba(0,0,0,.75)
    );
}

#Main_Header h2{
    color: #FF1C1C;
    font-size: 48px;
    margin-bottom: 20px;
}

#Main_Header p{
    font-size: 20px;
    color: #DDDDDD;
}

/* ==========================
   SECOND SECTION CHANGE THIS
========================== */

main section:last-child{
    text-align: center;
    padding: 90px 70px;
    background: #111111;
    margin-top: 80px;
}

main section:last-child h3{
    color: #FF1C1C;
    font-size: 34px;
    margin-bottom: 25px;
}

main section:last-child p{
    width: 70%;
    margin: auto;
    line-height: 1.8;
    color: #DDDDDD;
    font-size: 18px;
}

main section:last-child img{
    margin-top: 40px;
    width: 450px;
    max-width: 100%;
    height: auto;
    background: #222;
    border: 2px solid #FF1C1C;
    border-radius: 10px;
}

/* ==========================
   FOOTER
========================== */

footer{

    background: #0A0A0A;
    text-align: center;
    padding: 25px;
    border-top: 2px solid #FF1C1C;
}

footer p{
    color: #AAAAAA;
    font-size: 15px;
}