#Main_Header {

    text-align:center;
    padding:80px 20px 60px;
    background:#141414;

}

#Main_Header h2 {

    color:white;
    font-size:4rem;
    letter-spacing:5px;
    margin-bottom:15px;

}

#Main_Header p {

    color:#cfcfcf;
    font-size:1.2rem;

}
/* End of Main Header */ 



.FeaturedPC {

    align-items: center;
    background: #141414;
    padding: 80px 20px;

}

.FeaturedPC h2 {
    
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;

}

.FeaturedPC_slider {

    width: 800px;
    margin: auto;
    overflow: hidden;
    position: relative;

}

.FeaturedPC_Container {

    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
    
}

.FeaturedPC_Individual_Boxes {

    width: 300px;
    flex-shrink: 0;

    background: #1b1b1b;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 25px;

}

.FeaturedPC_images {

    width: 220px;
    height: 280px;

    object-fit: contain;
    border-radius: 10px;
}

.FeaturedPC_Texts {

    color: #cfcfcf;
    font-size: 1.2rem;
    margin: 0.5%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #cfcfcf;
    width: 80%;

}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    z-index: 10;

    background: #222;
    color: white;

    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}



#Short-Information-to-PCKREUGERZ{
    padding: 80px 20px 60px;
    background: #141414;
}

#Short-Information-to-PCKREUGERZ h2{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
}

.Info-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.Info-Image{
    flex: 1;
    text-align: center;
}

.Info-Image img{
    width: 450px;
    max-width: 100%;
}

.Info-Text{
    flex: 1;
}

.Info-Text p{
    color: #cfcfcf;
    font-size: 1.5rem;
    line-height: 1.8;
}